{% extends "base.html" %}
{% block title %}Green University - Product Inventory{% endblock %}

{% block content %}
<br>
<h1 class="display-4">File Submitted is invalid</h1>
<body>
    <br>
<h2>You have not entered an Image file or your file is in an unsupported format</h2>
<br>
<h3><a href="/createProduct"><i class="fa-solid fa-rotate-right"></i> Back to creating product</a></h3>
    

</body>
<style>
    body{
        text-align: center;
    }
    h3 a{
        text-decoration: underline;
    }

    h3 a:hover{
        opacity: 20%;
    }
</style>

{% endblock %}

