{% extends "base_landing.html" %}

{% block style %}

<!-- style="background-image: url(../static/About\ Us\ Image.jpg); background-repeat: no-repeat; background-size: cover;" -->

{% endblock %}

{% block content %}

<body class="d-flex flex-column">
    <header class="py-5" style="background-color: #143601;">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3 text-white">Our mission is to build a sustainable world.</h1>
                        <p class="lead fw-normal text-white-50 mb-4">At Green University, our app combines an e-commerce
                            shop and blog focused on sustainability. Embrace eco-friendly living with our open-source
                            free features or support us by choosing premium products. Join us in creating a greener,
                            more sustainable future for all.</p>
                        <a class="btn btn-success btn-lg" style="background-color: #73A942; border: none;"
                            href="#scroll-target">Read our story</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../static/About Us Image.jpg"
                        alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our founding</h2>
                    <p class="lead fw-normal text-muted mb-0">Green University was founded with a core belief in
                        prioritizing sustainability. Our mission is to make eco-friendly choices accessible to all
                        through our unique combination of an e-commerce shop and blog. Join us in shaping a greener
                        future for everyone.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                        src="../static/About Us image 2.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Growth &amp; beyond</h2>
                    <p class="lead fw-normal text-muted mb-0">At Green University, we're not just growing; we're
                        evolving towards a sustainable future. Committed to innovation, we're expanding our offerings
                        and embracing cutting-edge technologies. Our vision extends beyond growth – we aspire to lead a
                        global movement toward a more eco-friendly world. Join us as we redefine possibilities and make
                        a lasting impact on the planet.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center mb-3">
                <h2 class="fw-bolder">Our team</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicated to making the world a better place</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-5 justify-content-center">
                <div class="col mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                            src="../static/businessman-avatar-cartoon-character-profile_18591-50141.jpg" alt="..." />
                        <h5 class="fw-bolder">Joshua</h5>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
                <div class="col mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                            src="../static/businessman-avatar-illustration-cartoon-user-portrait-user-profile-icon_118339-5507.jpg" alt="..." />
                        <h5 class="fw-bolder">Kendrick</h5>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
                <div class="col mb-5 mb-sm-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                            src="../static/images.jpg" alt="..." />
                        <h5 class="fw-bolder">Yuriel</h5>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                            src="../static/male-avatar-portrait-of-a-business-man-in-a-suit-illustration-of-male-character-in-modern-color-style-vector.jpg" alt="..." />
                        <h5 class="fw-bolder">Bing Xue</h5>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4"
                            src="../static/geschaeftsmann-avatar-illustration-cartoon-benutzerportraet-benutzerprofil-symbol_118339-5502.jpg" alt="..." />
                        <h5 class="fw-bolder">Terron</h5>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
</body>

{% endblock %}