{% extends "staffBase.html" %}
{% block title %}Green University - View Blogs{% endblock %}
{% block content %}

<div class="d-flex flex-row">
    <h1 class="display-4">View Blogs</h1>
</div>
<div>
    {% if count == 0 %}
    <p>There are no blogs.</p>
    {% elif count == 1 %}
    <p>There is 1 blog.</p>
    {% else %}
    <p>There are {{ count }} blogs.</p>
    {% endif %}
</div>

<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Blog ID</th>
            <th>Account ID, Username</th>
            <th>Category</th>
            <th>Subject</th>
            <th>Image</th>
            <th>Content</th>
            <th>Comments</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
     <tbody>
        {% for blog in blogs_per_page %}
            <tr>
                <td>{{ blog.get_blog_id() }}</td>
                <td>{{ blog.get_account() }}, {{ blog.get_account_username() }}</td>
                <td>
                    {% if 'REC' in blog.get_category() %}
                        Recycling
                    {% endif %}
                    {% if 'SSB' in blog.get_category() %}
                        Sustainability
                    {% endif %}
                    {% if 'BIZ' in blog.get_category() %}
                        Business
                    {% endif %}
                    {% if 'H20' in blog.get_category() %}
                        Water
                    {% endif %}
                    {% if 'CUL' in blog.get_category() %}
                        Cultural
                    {% endif %}
                    {% if 'ETC' in blog.get_category() %}
                        Other
                    {% endif %}
                {% if blog.get_category() == [] %}
                    No Category
                {% endif %}
                </td>
                <td>{{ blog.get_post_name() }}</td>
                <td>
                    {% if blog.get_image() == None %}
                        No image
                    {% else %}
                    <a href="{{ blog.get_image() }}">
                    Image link</a>
                    {% endif %}
                </td>
                <td>{{ blog.get_post_content() }}</td>
                <td><a href="/allComments/{{blog.get_blog_id()}}">Comments</a></td>
                <td><a href="/updateBlog/{{blog.get_blog_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="{{ url_for('delete_blog', id=blog.get_blog_id()) }}" method="POST">
                                                    <!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete blog {{ blog.get_blog_id() }}?');">-->
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{blog.get_blog_id()}}">
                              Delete
                            </button>

                            <!-- The Modal -->
                            <div class="modal" id="myModal_{{blog.get_blog_id()}}">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                  </div>

                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    Are you sure you want to delete Blog {{ blog.get_blog_id() }}?
                                  </div>

                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  </div>

                                </div>
                              </div>
                            </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
     </tbody>
     </table>
        <div class="container d-flex justify-content-center">
            {% if page > 1 %}
                <a href="{{url_for('retrieve_blogs', page=page-1) }}" class="p-2">Previous</a>
            {% endif %}
                <span class="p-2">Page {{page}} of {{total_pages}}</span>
            {% if page < total_pages %}
                <a href="{{url_for('retrieve_blogs', page=page+1) }}" class="p-2">Next</a>
            {% endif %}
        </div>
</div>


{% endblock %}