{% extends "staffBase.html" %}
{% block title %}Green University - View Comments{% endblock %}
{% block content %}

<div class="d-flex flex-row">
    <h1 class="display-4">View Comments</h1>
    <div class="container d-flex justify-content-end">
        <a href="/allBlogs" class="p-2 m-1"><button type="button" class="btn btn-success">View Blogs</button></a>
        <a href="/unresolvedReports" class="p-2 m-1"><button type="button" class="btn btn-success">View Unresolved Reports</button></a>
        <a href="/resolvedReports" class="p-2 m-1"><button type="button" class="btn btn-success">View Resolved Reports</button></a>
    </div>
</div>
<div>
    {% if count == 0 %}
    <p>There are no comments.</p>
    {% elif count == 1 %}
    <p>There is 1 comment.</p>
    {% else %}
    <p>There are {{ count }} comments.</p>
    {% endif %}
</div>

<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Blog ID</th>
            <th>Comment ID</th>
            <th>Created By</th>
            <th>Comment Content</th>
            <th>Date of Creation</th>
        </tr>
    </thead>
     <tbody>
        {% for comment in comments_per_page %}
            <tr>
                <td>{{ comment.get_blog_id() }}</td>
                <td>{{ comment.get_comment_id() }}</td>
                <td>{{ comment.get_created_by() }}</td>
                <td>{{ comment.get_comment_content() }}</td>
                <td>{{ comment.get_date_created() }}</td>
                <td>
                    <form action="{{ url_for('delete_comment', blog_id=comment.get_blog_id(), comment_id=comment.get_comment_id()) }}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
     </tbody>
     </table>
        <div class="container d-flex justify-content-center">
            {% if page > 1 %}
                <a href="{{url_for('retrieve_comments', page=page-1) }}" class="p-2">Previous</a>
            {% endif %}
                <span class="p-2">Page {{page}} of {{total_pages}}</span>
            {% if page < total_pages %}
                <a href="{{url_for('retrieve_comments', page=page+1) }}" class="p-2">Next</a>
            {% endif %}
        </div>
</div>

{% endblock %}