% extends "base.html" %}
{% block title %}Green University - View Comments{% endblock %}
{% block content %}

<div class="d-flex flex-row">
    <h1 class="display-4">View Comments</h1>
    <div class="container d-flex justify-content-end">
        <a href="/allBlogs" class="p-2 m-1"><button type="button" class="btn btn-success">View Blogs/button></a>
        <a href="/unresolvedReports" class="p-2 m-1"><button type="button" class="btn btn-success">View Unresolved Reports</button></a>
        <a href="/resolvedReports" class="p-2 m-1"><button type="button" class="btn btn-success">View Resolved Reports</button></a>
    </div>
</div>
<div>
    {% if count == 0 %}
    <p>There are no comments.</p>
    {% elif count == 1 %}
    <p>There is 1 comment.</p>
    {% else %}
    <p>There are {{ count }} comments.</p>
    {% endif %}
</div>

<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Created by</th>
            <th>Blog ID</th>
            <th>Content</th>
            <th>Subject</th>
            <th>Image</th>
            <th>Content</th>
            <th>Upvotes</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
     <tbody>
        {% for blog in blogs_per_page %}
            <tr>
                <td>{{ blog.get_blog_id() }}</td>
                <td>{{ blog.get_account() }}</td>
                <td>
                    {% if 'REC' in blog.get_category() %}
                        Recycling
                    {% endif %}
                    {% if 'SSB' in blog.get_category() %}
                        Sustainability
                    {% endif %}
                    {% if 'BIZ' in blog.get_category() %}
                        Business
                    {% endif %}
                    {% if 'H20' in blog.get_category() %}
                        Water
                    {% endif %}
                    {% if 'CUL' in blog.get_category() %}
                        Cultural
                    {% endif %}
                    {% if 'ETC' in blog.get_category() %}
                        Other
                    {% endif %}
                {% if blog.get_category() == [] %}
                    No Category
                {% endif %}
                </td>
                <td>{{ blog.get_post_name() }}</td>
                <td>
                    {% if blog.get_image() == None %}
                        No image
                    {% else %}
                    <a href="{{ blog.get_image() }}">
                    Image link</a>
                    {% endif %}
                </td>
                <td>{{ blog.get_post_content() }}</td>
                <td>{{ blog.get_upvote_count() }}</td>
                <td><a href="/updateBlog/{{blog.get_blog_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="{{ url_for('delete_blog', id=blog.get_blog_id()) }}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
     </tbody>
     </table>
        <div class="container d-flex justify-content-center">
            {% if page > 1 %}
                <a href="{{url_for('retrieve_blogs', page=page-1) }}" class="p-2">Previous</a>
            {% endif %}
                <span class="p-2">Page {{page}} of {{total_pages}}</span>
            {% if page < total_pages %}
                <a href="{{url_for('retrieve_blogs', page=page+1) }}" class="p-2">Next</a>
            {% endif %}
        </div>
</div>

{% endblock %}