

{% extends "base.html" %}
{% block title %}Green University - Customer Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/style/cart.css">
<section class="h-100 h-custom" style="background-color: #24d8b4;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">
                      {% if cartcount == 0 %}
                      <p>There's nothing in your cart.</p>
                      {% elif cartcount == 1 %}
                      <p>There is 1 item in your cart.</p>
                      {% else %}
                      <p>There are {{ cartcount }} items in your cart.</p>
                      {% endif %}</h6>
                  </div>
                  {% for product in cart_list %}

                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/static/images/{{product.get_product_name()}}.jpg"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{product.get_product_category()}}</h6>
                      <h6 class="text-black mb-0">{{ product.get_product_name() }}</h6>
          
                    </div>
                    
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="mb-0">${{ product.get_product_price() }}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <form action="{{url_for('remove_from_cart', id=product.get_product_id())}}" method="POST">
                        <!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{product.get_product_name()}} {{product.get_product_price()}}?');">-->
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_product_id()}}">
                          Remove
                        </button>
                        
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{product.get_product_id()}}">
                          <div class="modal-dialog">
                            <div class="modal-content">
                        
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h4 class="modal-title">Remove from cart</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                              </div>
                        
                              <!-- Modal body -->
                              <div class="modal-body align-items-center">
                                 Remove {{product.get_product_name()}} {{product.get_product_price()}}?
                              </div>
                              
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <input type="submit" value="Delete" class="btn btn-danger">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                              </div>
                        
                            </div>
                          </div>
                        </div>
                                  </form>
                    </div>
                  </div>

                  {% endfor %}

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/store" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{ cartcount }} items</h5>
                    
                  </div>

                  <h5 class="text-uppercase mb-3">Delivery By</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Doorstep-Delivery</option>
                      <option value="2">PostOffice-Pickup</option>
                    </select>
                  </div>


                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>${{total}}</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Checkout</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

</style>
{% endblock %}