{% extends "base.html" %}
{% block title %}Green University - Create Product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="col-md 7 col-lg-8 container">
  <h1 class="display-4">Create Product</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="row g-3">

    <div class="form-group">
      {{ render_field(form.first_name, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.last_name, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.gender, class="form-control") }}
    </div>
    
    <div id="prof">
      <div class="form-group">
        {{ render_field(form.remarks, class="form-control") }}
      </div>
    </div>
    <div class="form-group">
      {{ render_field(form.quantity, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.image, id='imageInput') }}
      <br>
    </div>
    <img id="imageDisplay">
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <div>
      <br>
      <br><br>
      <br>
    </div>
  </form>
</div>

<style>
  img#imageDisplay {
      max-width: 25%;
      max-height: 25%;
      padding: none;

      display: flex;
      margin-left: auto;
      margin-right: auto;
  }
  .form-group{
    margin:none !important;
    padding: none !important;
    
  }
</style>

<script>
  const imageInput = document.getElementById('imageInput')
  // file goes in through here

  const imageDisplay = document.getElementById('imageDisplay')
  // file is rendered here

  const clear = document.getElementById('clear')
  // "clear" button

  imageInput.onchange = () => { // when user selects a local file, run this code
      const reader = new FileReader()
      if (imageInput.files[0]) { // if there's a file present in the input
          reader.onload = event => {
              imageDisplay.src = event.target?.result // give the file to imageDisplay to display it
          }
          reader.readAsDataURL(imageInput.files[0])
      }
      else{
          flash}
      
  }
  clear.onclick = e => { // when clear button is clicked, run this code
      e.preventDefault()
      imageDisplay.src = '' // clear the image from imageDisplay
  }
</script>


{% endblock %}


