{% extends "base.html" %}
{% block title %}Green University - Home{% endblock %}

{% block content %}
    <script>(function(){var pp=document.createElement('script'), ppr=document.getElementsByTagName('script')[0]; stid='b2JkV3lnVHpaODNRbVlqN0pKbFBxUT09';pp.type='text/javascript'; pp.async=true; pp.src=('https:' == document.location.protocol ? 'https://' : 'http://') + 's01.live2support.com/dashboardv2/chatwindow/'; ppr.parentNode.insertBefore(pp, ppr);})();</script>
<div class="bg-image"
     style="background-image: url(https://plus.unsplash.com/premium_photo-1675355675464-2deabb1f893b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            height: 100vh; text-align: center;">
    <h1 style="font-size: 50px; color: white;">Welcome {{name}} to Green University</h1>
    <p style="font-size: 30px; width: 1000px; margin: 50px auto; color: white;">Where sustainable shopping meets
        insightful blogging. Shop green, learn green, share green, and live green.
        Together, we can make a greener impact.</p>
</div>

{% endblock %}