{% extends "base.html" %}
{% block title %}Green University - Customer Product Page{% endblock %}
<link rel="stylesheet" href="/style.css">

{% block content %}
<h1 class="display-4">Products</h1>
<hr>
<div class="small-container">
    {% for user in users_list %}
    <div class="row">
        <div class="col-4">
            <h4>{{user.get_first_name()}}</h4>
            <br>
            <img src="/static/images/{{user.get_user_id()}}.jpg" alt="" class="img">
            <br>
            <p>${{user.get_last_name()}}</p>
            <br>
            <td><a href="/{{user.get_user_id()}}/add_to_cart" class="btn btn-dark">Add to Cart</a></td>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .img{
        max-width: 20%;
        max-height: 20%;
    }
</style>
{% endblock %}

