{% extends "base.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Update / Delete Payment Info</h1>

<form action="" method="POST">
    <div class="mb-3">
        {{ render_field(form.card_holder_name(placeholder="payment_info.card_holder_name.data"), class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.credit_card_number, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.cvv, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.expiry_date_month, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.expiry_date_year, class="form-select") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.country, class="form-select") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.postal_code, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.address_line_1, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.address_line_2, class="form-control") }}
    </div>
    <div class="mb-3">
        {{ render_field(form.donation, class="form-control") }}
    </div>
    <div class="mb-3 form-check">
        {{ render_field(form.remember, class="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
    <a class="btn btn-danger" role="button" href="">Delete</a>
</form>

{% endblock %}