{% extends "base.html" %}

{% block title %}Payment OTP{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<link rel="stylesheet" href="../static/style/paymentOTP.css">

<form class="container height-100 d-flex justify-content-center align-items-center" method="post">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div> <span>A 6-digit code has been sent to</span> <small>{{ email }}</small> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                {{ form.hidden_tag() }}
                {{ form.OTP_code_1.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
                {{ form.OTP_code_2.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
                {{ form.OTP_code_3.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
                {{ form.OTP_code_4.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
                {{ form.OTP_code_5.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
                {{ form.OTP_code_6.label }}
                {{ form.full_name(class="m-2 text-center form-control rounded", type="text", id="first", maxlength="1") }}
            </div>
            <div class="mt-4 flex"> 
                {{ form.submit(class="btn btn-danger px-4 validate", type="submit") }}
            </div>
        </div>
    </div>
</form>

<script src="../static/js/paymentOTP.js"></script>

{% endblock %}

<!--
<input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> 
<input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> 
<input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> 
<input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> 
<input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
<input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
-->